<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MyPage</title>
    <style>
      body { background-color: black; color: gold; text-align: center } #form {
      background-color: rgba(66, 53, 53, 0.7); box-shadow: 2px 2px 10px white;
      width: 70%; height: 300px; padding:100px 20px; margin: auto; text-align: center
      } input { width: 80%; height: 50px; margin: auto; text-align: center }
      button { width: 30%; background-color: gold; color: white; border: none;
      border-radius: 10px; height: 50px; padding: 10px, margin:auto; cursor:
      pointer; } button:hover { background-color: gray; box-shadow: 2px 2px 10px
      gold; color: gold; } .msg { color: red; }#link{color:white}#link:hover{color:gold}
    </style>

  </head>

  <body>
    <h1>LOG IN FORM</h1>
    <form action="/login" method="POST" id="form" onsubmit="return submitEvent()">
      <input type="email" id="email" name="email" placeholder="EMAIL" /><br /><u
        id="emailu"
        class="msg"
      ></u><br /><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="PASSWORD"
      /><br /><u id="passu" class="msg"></u><br /><br />
      <button type="submit">LOG IN</button><br /><br /><br />
      <a id="link" href="/">Go To Register Page</a><br />
    </form>

    <script>
      let submitEvent = () => {  
        let email = document.getElementById("email").value; 
        let password = document.getElementById("password").value; 

        let emailp = /^[A-Za-z0-9._]{3,}@[A-Za-z]{3,}[.]{1}[A-Za-z.]{2,6}$/; 
        let flag = true;
        
        if(!emailp.test(email)) { 
          flag = false;
          document.getElementById("emailu").innerHTML = "** INVALID Email"; 
        } else if (flag) { 
          document.getElementById("emailu").innerHTML = ""; 
        }
        
        if(password.length<8) { 
          flag = false;
          document.getElementById("passwordu").innerHTML = "** PASSWORD TOO SMALL"; 
        } else if(flag){ 
          document.getElementById("passwordu").innerHTML =""; 
        } 
        
        return flag; 
    }
    </script>
  </body>

</html>